[Unit]
Description=Felix The Good Bot
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/app
ExecStart=/.venv/bin/python /app/bot.py

[Install]
WantedBy=multi-user.target
